Source: wajig
Maintainer: Graham Williams <Graham.Williams@togaware.com>
Uploaders: Tshepang Lekhonkhobe <tshepang@gmail.com>
Section: admin
Priority: optional
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.3
Vcs-Browser: http://code.google.com/p/wajig/source/browse
Vcs-Hg: https://wajig.googlecode.com/hg
Homepage: http://wajig.togaware.com

Package: wajig
Architecture: all
Depends: ${misc:Depends},
         python3.3,
         apt,
         python3-apt (>= 0.8.9),
         aptitude,
         dpkg (>= 1.16.2)
Suggests: debconf,
          reportbug,
          apt-move,
          dpkg-repack,
          alien,
          fakeroot,
          apt-file,
          locales,
          deborphan,
          vrms,
          sudo,
          apt-show-versions,
          dctrl-tools,
          debsums,
          netselect-apt,
          dpkg-dev,
          debtags
Description: unified package management front-end for Debian
 A command-line wrapper around apt, apt-cache, dpkg, aptitude, and more.
 It's goal is to ease package management by unifying the main functions
 of these tools from one interface.
 .
 For a short guide, run this command:
 $ wajig help
